@use 'sass:map';
@use '@angular/material' as mat;
@use './theme.scss' as theme;

@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  // Export custom semantic colors from theme as CSS variables
  --app-success: #{map.get(theme.$success, default)};
  --app-success-container: #{map.get(theme.$success, container)};
  --app-on-success-container: #{map.get(theme.$success, on-container)};

  --app-warning: #{map.get(theme.$warning, default)};
  --app-warning-container: #{map.get(theme.$warning, container)};
  --app-on-warning-container: #{map.get(theme.$warning, on-container)};
}

html {
  height: 100%;
  color-scheme: light dark;

  @include mat.theme(
    (
      color: (
        primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
      ),
      typography: Figtree,
      density: 0,
    )
  );
}

body {
  height: 100%;
  margin: 0;
}

.mdc-notched-outline__notch {
  border-style: none;
}

.mat-mdc-icon-button {
  line-height: normal;
}
