<ja-crud-dialog-shell
  title="Update Junta"
  icon="edit"
  submitLabel="Update"
  [submitting]="submitting()"
  [formValid]="form.valid"
  (submitAction)="onSubmit()"
  (cancelAction)="onCancel()">
  <form [formGroup]="form" class="grid gap-4">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Enter junta name" />
    </mat-form-field>

    <div class="grid grid-cols-2 gap-4">
      <mat-form-field appearance="outline">
        <mat-label>Total Amount</mat-label>
        <input
          matInput
          type="number"
          formControlName="amount"
          placeholder="Enter amount" />
        <span matTextPrefix>$&nbsp;</span>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Slots</mat-label>
        <input
          matInput
          type="number"
          formControlName="slots"
          placeholder="Number of slots" />
      </mat-form-field>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <mat-form-field appearance="outline">
        <mat-label>Start Date</mat-label>
        <input
          matInput
          [matDatepicker]="startPicker"
          formControlName="startDate" />
        <mat-datepicker-toggle matIconSuffix [for]="startPicker" />
        <mat-datepicker #startPicker />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>End Date</mat-label>
        <input
          matInput
          [matDatepicker]="endPicker"
          formControlName="endDate" />
        <mat-datepicker-toggle matIconSuffix [for]="endPicker" />
        <mat-datepicker #endPicker />
      </mat-form-field>
    </div>

    <mat-checkbox formControlName="active">Active</mat-checkbox>
  </form>
</ja-crud-dialog-shell>
