@use '@angular/material' as mat;
@use './theme.scss' as theme;

@tailwind base;
@tailwind utilities;
@tailwind components;

html {
  height: 100%;
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
      ),
      typography: 'Figtree',
      density: 0,
    )
  );
}

body {
  height: 100%;
  margin: 0;
}

.mdc-notched-outline__notch {
  border-style: none;
}

.mat-mdc-icon-button {
  line-height: normal;
}
