{
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSameLine": true,
  "printWidth": 80,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "semi": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@(client|server)(.*)$",
    "^../",
    "^[./]"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "classProperties",
    "decorators-legacy"
  ],
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ]
}
