<h1 class="text-primary mb-5 text-center text-4xl">Registration</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid gap-5">
  <div class="flex gap-2">
    <ja-input-field
      label="Email"
      type="email"
      formControlName="email"
      placeholder="Ex. test@test.com" />
    <ja-input-field
      label="Password"
      type="password"
      formControlName="password"
      placeholder="******" />
  </div>
  <ja-input-field label="Name" formControlName="name" placeholder="John" />
  <ja-input-field label="Surname" formControlName="surname" placeholder="Doe" />
  <ja-input-field
    label="Phone"
    type="tel"
    formControlName="phone"
    placeholder="+34 62346793" />
  <select formControlName="roles" multiple>
    <option [value]="roles.Admin">{{ roles.Admin }}</option>
    <option [value]="roles.SuperAdmin">{{ roles.SuperAdmin }}</option>
    <option [value]="roles.User">{{ roles.User }}</option>
  </select>
  <p *ngIf="showFormError" class="text-error">Registration failed</p>
  <div class="flex gap-3">
    <a routerLink="/dashboard">
      <ja-icon-button kind="outlined" name="arrow_back"></ja-icon-button>
    </a>
    <ja-button
      [expand]="true"
      class="w-full"
      type="submit"
      [disabled]="!form.valid">
      Register
    </ja-button>
  </div>
</form>
