.login {
  display: grid;
  height: 100dvh;
  align-items: center;
  justify-items: center;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__form-error-message {
  color: red;
  margin: 10px;
}
