<div class="grid h-full place-content-center">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="flex flex-col text-center">
    <app-input-field
      type="email"
      label="Email"
      formControlName="email"
      placeholder="Ex. test@test.com" />
    <app-input-field
      label="Password"
      formControlName="password"
      type="password"
      placeholder="******" />
    <p *ngIf="showFormError" class="mb-5 text-red-500">
      Login credentials invalid
    </p>
    <app-button type="submit" [disabled]="!form.valid">login</app-button>
  </form>
</div>
