<h2 mat-dialog-title class="flex items-center gap-2">
  @if (icon) {
  <mat-icon>{{ icon }}</mat-icon>
  } {{ title }}
</h2>

<mat-dialog-content class="grid gap-4">
  <ng-content></ng-content>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-stroked-button
    type="button"
    (click)="onCancel()"
    [disabled]="submitting">
    Cancel
  </button>
  <button
    mat-flat-button
    color="primary"
    type="button"
    (click)="onSubmit()"
    [disabled]="!formValid || submitting"
    class="flex items-center justify-center">
    @if (submitting) {
    <mat-icon><mat-spinner diameter="18"></mat-spinner></mat-icon>
    }
    <span>{{ submitLabel }}</span>
  </button>
</mat-dialog-actions>
