<ng-template #content>
  @if (icon) {
    <md-icon slot="icon" aria-hidden="true">{{ icon }}</md-icon>
  }
  <ng-content></ng-content>
</ng-template>

@switch (kind) {
  @case ('elevated') {
    <md-elevated-button
      class="w-full"
      [type]="type"
      [disabled]="disabled"
      [hasIcon]="icon">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </md-elevated-button>
  }
  @case ('filled') {
    <md-filled-button class="w-full" [type]="type" [disabled]="disabled">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </md-filled-button>
  }
  @case ('tonal') {
    <md-filled-tonal-button class="w-full" [type]="type" [disabled]="disabled">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </md-filled-tonal-button>
  }
  @case ('outlined') {
    <md-outlined-button class="w-full" [type]="type" [disabled]="disabled">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </md-outlined-button>
  }
  @case ('text') {
    <md-text-button class="w-full" [type]="type" [disabled]="disabled">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </md-text-button>
  }
}
