<div class="h-screen w-screen">
  <mat-sidenav-container class="h-full w-full">
    <mat-sidenav
      mode="side"
      opened
      class="flex h-full w-64 flex-col border-r border-slate-200 bg-slate-50">
      <div
        class="flex items-center justify-center border-b border-slate-200 p-4">
        <h2 class="text-primary text-xl font-semibold">Logo</h2>
      </div>
      <mat-divider></mat-divider>
      <div class="flex-grow p-4">
        <mat-nav-list>
          <a
            mat-list-item
            routerLink="/dashboard"
            routerLinkActive="bg-slate-100 text-primary"
            [routerLinkActiveOptions]="{exact: true}"
            class="mb-2 rounded-md">
            <mat-icon>dashboard</mat-icon>
            <span class="ml-2">Dashboard</span>
          </a>

          <a
            mat-list-item
            routerLink="/dashboard/admin"
            routerLinkActive="bg-slate-100 text-primary"
            *hasPermission="'ADMIN_READ'"
            class="mb-2 rounded-md">
            <mat-icon>admin_panel_settings</mat-icon>
            <span class="ml-2">Admins</span>
          </a>

          <a
            mat-list-item
            routerLink="/dashboard/user"
            routerLinkActive="bg-slate-100 text-primary"
            *hasPermission="'USER_CREATE'"
            class="mb-2 rounded-md">
            <mat-icon>person_add</mat-icon>
            <span class="ml-2">Users</span>
          </a>
        </mat-nav-list>
      </div>

      <div class="mt-auto border-t border-slate-200">
        <div class="p-4">
          <div class="mb-4">
            <p class="font-semibold">{{ profile.username() }}</p>
          </div>
          <button
            mat-flat-button
            color="warn"
            (click)="logout()"
            class="flex w-full items-center justify-center">
            <mat-icon>logout</mat-icon>
            <span class="ml-2">Logout</span>
          </button>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="h-full overflow-auto p-5">
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
