<ja-crud-dialog-shell
  title="Update User"
  icon="edit"
  submitLabel="Update"
  [submitting]="submitting()"
  [formValid]="form.valid"
  (submitAction)="onSubmit()"
  (cancelAction)="onCancel()">
  <form [formGroup]="form" class="grid gap-4">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Enter name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Surname</mat-label>
      <input matInput formControlName="surname" placeholder="Enter surname" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input
        matInput
        formControlName="phoneNumber"
        placeholder="Enter phone number" />
    </mat-form-field>
  </form>
</ja-crud-dialog-shell>
