<h2 mat-dialog-title>
  <mat-icon>person_add</mat-icon>
  Create user
</h2>
<form [formGroup]="form" (ngSubmit)="save()">
  <div mat-dialog-content class="grid gap-4">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required />
      @if (form.get('name')?.invalid && form.get('name')?.touched) {
      <mat-error>{{ getError('name') }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Surname</mat-label>
      <input matInput formControlName="surname" required />
      @if (form.get('surname')?.invalid && form.get('surname')?.touched) {
      <mat-error>{{ getError('surname') }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phoneNumber" required />
      @if (form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.touched)
      {
      <mat-error>{{ getError('phoneNumber') }}</mat-error>
      }
    </mat-form-field>
  </div>

  <div mat-dialog-actions align="end">
    <button
      mat-stroked-button
      type="button"
      (click)="cancel()"
      [disabled]="submitting()">
      Cancel
    </button>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="form.invalid || submitting()"
      class="flex items-center justify-center">
      @if (submitting()) {
      <mat-icon><mat-spinner diameter="18"></mat-spinner></mat-icon>
      }
      <span>Create</span>
    </button>
  </div>
</form>
