<div class="register">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="register__form">
    <p class="mb-10 flex justify-center self-start text-indigo-50">
      <a routerLink="/dashboard">
        <app-back-button-icon class="mr-3" /> Go back to dashboard
      </a>
    </p>
    <app-input-field
      label="Email"
      type="email"
      formControlName="email"
      placeholder="Ex. test@test.com" />
    <app-input-field
      label="Password"
      type="password"
      formControlName="password"
      placeholder="******" />
    <app-input-field label="Name" formControlName="name" placeholder="John" />
    <app-input-field
      label="Surname"
      formControlName="surname"
      placeholder="Doe" />
    <app-input-field
      label="Phone"
      type="number"
      formControlName="phone"
      placeholder="+34 62346793" />
    <app-button type="submit">Register</app-button>
    <p *ngIf="showFormError" class="register__form-error-message">
      register failed
    </p>
  </form>
</div>
