<ng-template #content>
  <md-icon>{{ name }}</md-icon>
  <ng-content></ng-content>
</ng-template>

@switch (kind) {
  @case ('filled') {
    <md-filled-icon-button type="button" [disabled]="disabled">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </md-filled-icon-button>
  }
  @case ('tonal') {
    <md-filled-tonal-icon-button type="button" [disabled]="disabled">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </md-filled-tonal-icon-button>
  }
  @case ('outlined') {
    <md-outlined-icon-button type="button" [disabled]="disabled">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </md-outlined-icon-button>
  }
}
